ul,
ol,
dl {
	margin: 1em 0px;
	padding: 1px 0px;
	list-style-position: inside;
}

li,
dt,
dd{
	font-size: 100%
}

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #fff;
  display: table;
}
#company_name,#company_url,#company_address {
  padding: 2px;
  background-color: #fff;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #fff;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
  display: none;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  list-style:none;
}
.field abbr{
	color: red;
}
#interviewer_count{
	ime-mode:disabled; 
}
